.footer {

    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tab-port) {

        padding: 7rem 0;
    }
    
   

    &__logo-box {
        
        text-align: center;

    }

    &__logo {

        text-align: center;
        width: 15rem;
        height: auto;
        margin-bottom: 8rem;

        @include respond(tab-port) {

            margin-bottom: 4rem;
        }
    
    }

    &__container {

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include respond(tab-port) {

      
            flex-direction: column;
            justify-content: center;
       
        }
        
    }

    &__navigation {
        margin-top: -7rem;
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
        
        @include respond(tab-port) {

            margin: 1rem 0 8rem 0;
            width: 100%;
            text-align: center;
        }

    }

    &__copyright {
        width: 30%;    
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;   

        @include respond(tab-port) {
            text-align: center;
            width: 100%;
        }

       
    }

    

    &__list {

        list-style: none;

    }

    &__item {

        display: inline-block;

        &:not(:last-child) {

            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            background-color: $color-grey-dark-3;
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .1s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba( #000000, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
    
}

